In [25]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [26]:
df = pd.read_csv('./datasets/GP_data_2016_2018_기본변수+타겟+졸업대학+가족.csv')
df.head()

,연도,본분교,국공사립,학위과정유형,주야간,전공계열,전공_소분류_코드,전공_세분류_코드,학교유형,학교소재지역,...,G181G019,G181G033,G181G038,G181P001,G181P004,G181P026,G181P029,G181P035,G181P036,G181P042
0,2018,1,3,3,2,1,C010101,C01010100027,1,1,...,NaN,NaN,NaN,1,NaN,4,4,5,3,NaN
1,2018,1,3,3,1,1,C010101,C01010100013,1,1,...,NaN,NaN,NaN,1,NaN,4,4,4,3,NaN
2,2018,1,3,3,1,1,C010101,C01010100013,1,1,...,1.0,NaN,NaN,1,NaN,6,6,6,5,40.0
3,2018,1,3,3,1,1,C010101,C01010100005,1,8,...,NaN,NaN,NaN,1,NaN,6,6,6,5,NaN
4,2018,1,3,3,1,1,C010101,C01010100005,1,8,...,NaN,NaN,NaN,1,NaN,4,4,6,4,NaN

In [27]:
college_df = df[['G181F010', 'G181F034', 'G181F036', 'G181F037', 'G181F038' , 'G181F039' , 'G181F040' ,'G181F041' , 'G181F042', 
                 'G181F043' , 'G181F073' , 'G181F074', 'G181F089' , 'G181F102', 'G181F104' , 'G181F108' ,
                 'G181F112' , 'G181F116' , 'G181F120' , 'G181G001' , 'G181G014' , 'G181G019' , 'G181G033' , 'G181G038']]

college_df.head()

,G181F010,G181F034,G181F036,G181F037,G181F038,G181F039,G181F040,G181F041,G181F042,G181F043,...,G181F104,G181F108,G181F112,G181F116,G181F120,G181G001,G181G014,G181G019,G181G033,G181G038
0,1,1,2,2,2,1,2,1,2,2,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
1,1,1,2,1,1,1,1,1,1,2,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
2,1,1,2,2,2,2,2,2,1,2,...,NaN,NaN,NaN,NaN,NaN,1,NaN,1.0,NaN,NaN
3,1,2,2,2,2,2,2,2,1,2,...,1.0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
4,1,2,1,2,1,2,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN

In [28]:
# 대학입학 구분

college_df.rename(columns={'G181F010' : '대학 입학 구분'} , inplace=True)
college_df['대학 입학 구분'] = college_df['대학 입학 구분'].replace(-1, 1)
college_df['대학 입학 구분'].value_counts()

1    51617
2     2826
Name: 대학 입학 구분, dtype: int64

# 진로 선택 및 취업준비 프로그램

In [29]:
# 경험 없음(2)를 0 값으로 변경해서 전체적으로 다 합하여 경험횟수 출력



college_df['G181F034'].isnull().sum()
college_df['G181F034'].value_counts()

college_df['G181F034'] = college_df['G181F034'].replace(2, 0)

print(college_df['G181F034'].value_counts())

print(college_df['G181F034'].isnull().sum())

0    29542
1    24901
Name: G181F034, dtype: int64
0

In [30]:
print(college_df['G181F036'].isnull().sum())
print(college_df['G181F036'].value_counts())

college_df['G181F036'] = college_df['G181F036'].replace(2, 0)


print(college_df['G181F036'].isnull().sum())
college_df['G181F036'].value_counts()

0
2    41657
1    12786
Name: G181F036, dtype: int64
0

0    41657
1    12786
Name: G181F036, dtype: int64

In [31]:
print(college_df['G181F037'].isnull().sum())
print(college_df['G181F037'].value_counts())

college_df['G181F037'] = college_df['G181F037'].replace(2, 0)


print(college_df['G181F037'].isnull().sum())
college_df['G181F037'].value_counts()

0
2    29649
1    24794
Name: G181F037, dtype: int64
0

0    29649
1    24794
Name: G181F037, dtype: int64

In [32]:
print(college_df['G181F038'].isnull().sum())
print(college_df['G181F038'].value_counts())

college_df['G181F038'] = college_df['G181F038'].replace(2, 0)


print(college_df['G181F038'].isnull().sum())
college_df['G181F038'].value_counts()

0
2    39899
1    14544
Name: G181F038, dtype: int64
0

0    39899
1    14544
Name: G181F038, dtype: int64

In [33]:
print(college_df['G181F039'].isnull().sum())
print(college_df['G181F039'].value_counts())

college_df['G181F039'] = college_df['G181F039'].replace(2, 0)


print(college_df['G181F039'].isnull().sum())
college_df['G181F039'].value_counts()

0
2    39213
1    15230
Name: G181F039, dtype: int64
0

0    39213
1    15230
Name: G181F039, dtype: int64

In [34]:
print(college_df['G181F040'].isnull().sum())
print(college_df['G181F040'].value_counts())

college_df['G181F040'] = college_df['G181F040'].replace(2, 0)


print(college_df['G181F040'].isnull().sum())
college_df['G181F040'].value_counts()

0
2    37204
1    17239
Name: G181F040, dtype: int64
0

0    37204
1    17239
Name: G181F040, dtype: int64

In [35]:
print(college_df['G181F041'].isnull().sum())
print(college_df['G181F041'].value_counts())

college_df['G181F041'] = college_df['G181F041'].replace(2, 0)


print(college_df['G181F041'].isnull().sum())
college_df['G181F041'].value_counts()

0
2    48302
1     6141
Name: G181F041, dtype: int64
0

0    48302
1     6141
Name: G181F041, dtype: int64

In [36]:
print(college_df['G181F042'].isnull().sum())
print(college_df['G181F042'].value_counts())

college_df['G181F042'] = college_df['G181F042'].replace(2, 0)


print(college_df['G181F042'].isnull().sum())
college_df['G181F042'].value_counts()

0
2    41026
1    13417
Name: G181F042, dtype: int64
0

0    41026
1    13417
Name: G181F042, dtype: int64

In [37]:
print(college_df['G181F043'].isnull().sum())
print(college_df['G181F043'].value_counts())

college_df['G181F043'] = college_df['G181F043'].replace(2, 0)


print(college_df['G181F043'].isnull().sum())
college_df['G181F043'].value_counts()

0
2    54350
1       93
Name: G181F043, dtype: int64
0

0    54350
1       93
Name: G181F043, dtype: int64

In [38]:
# 진로 선택 및 취업준비 프로그램 참여 횟수


college_df['G181F034'] = (college_df['G181F034'].values+college_df['G181F036'].values+
college_df['G181F037'].values+college_df['G181F038'].values+college_df['G181F039'].values+college_df['G181F040'].values
+college_df['G181F041'].values+college_df['G181F042'].values+college_df['G181F043'].values)

print(college_df['G181F034'].values)

[3 7 2 ... 0 0 0]

In [39]:
college_df.rename(columns={'G181F034' : '진로 선택 및 취업준비 프로그램 참여 횟수'} , inplace=True)
college_df.drop(columns=["G181F036" , "G181F037" , "G181F038" , "G181F039" , "G181F040" , "G181F041" , "G181F042" ,
                        "G181F043"] , inplace=True)
college_df.columns

Index(['대학 입학 구분', '진로 선택 및 취업준비 프로그램 참여 횟수', 'G181F073', 'G181F074',
       'G181F089', 'G181F102', 'G181F104', 'G181F108', 'G181F112', 'G181F116',
       'G181F120', 'G181G001', 'G181G014', 'G181G019', 'G181G033', 'G181G038'],
      dtype='object')

# GPA 계산

In [40]:
college_df['GPA'] = None

college_df['G181F073'].isnull().sum()
college_df['G181F074'].isnull().sum()

# 평균 학점 모른다고 대답한 사람(-1) 에 대해서만 결측값 존재 -> 100점 환산 후 평균값으로 대체


for i in range(len(college_df['GPA'])):
    if college_df['G181F073'][i] == 1:
        college_df['GPA'] = (college_df['G181F074'] / 4.0 * 100)
    elif college_df['G181F073'][i] == 2:
        college_df['GPA'] = (college_df['G181F074'] / 4.3 * 100)
    elif college_df['G181F073'][i] == 3:
        college_df['GPA'] = (college_df['G181F074'] / 4.5 * 100)

In [41]:
college_df['GPA'].describe()

count    54335.000000
mean        80.239870
std          9.425497
min         22.222222
25%         73.333333
50%         82.222222
75%         86.666667
max        100.000000
Name: GPA, dtype: float64

In [42]:
college_df['GPA'] = college_df['GPA'].round(2)

college_df['GPA'].describe()
mean_GPA = (college_df['GPA']).mean()

print(mean_GPA)
college_df['GPA'] = college_df['GPA'].fillna(mean_GPA)

80.23989546332139

In [43]:
college_df['GPA'] = college_df['GPA'].round(2)
college_df.drop(columns=["G181F073", "G181F074"] , inplace=True)
college_df.columns

Index(['대학 입학 구분', '진로 선택 및 취업준비 프로그램 참여 횟수', 'G181F089', 'G181F102',
       'G181F104', 'G181F108', 'G181F112', 'G181F116', 'G181F120', 'G181G001',
       'G181G014', 'G181G019', 'G181G033', 'G181G038', 'GPA'],
      dtype='object')

# 학자금 대출금액

In [44]:
college_df['G181F089'] = college_df['G181F089'].fillna(0)


college_df.rename(columns={'G181F089' : '학자금대출 금액'} , inplace=True)
college_df['학자금대출 금액']

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
          ...
54438     500.0
54439    2800.0
54440       0.0
54441       0.0
54442       0.0
Name: 학자금대출 금액, Length: 54443, dtype: float64

In [45]:
college_df.columns

Index(['대학 입학 구분', '진로 선택 및 취업준비 프로그램 참여 횟수', '학자금대출 금액', 'G181F102',
       'G181F104', 'G181F108', 'G181F112', 'G181F116', 'G181F120', 'G181G001',
       'G181G014', 'G181G019', 'G181G033', 'G181G038', 'GPA'],
      dtype='object')

# 휴학 횟수

In [48]:
# 휴학 경험

print(college_df['G181F102'].value_counts()) # 총 휴학 횟수

print(college_df['G181F104'].value_counts())

print(college_df['G181F108'].value_counts())

# 휴학횟수 결측값은 0으로 처리
college_df['G181F102'].isnull().sum()
college_df['G181F102'] = college_df['G181F102'].fillna(0)

1.0    21662
2.0    10531
3.0     1796
4.0      278
5.0       64
6.0       10
7.0        4
8.0        2
Name: G181F102, dtype: int64
 4.0     21765
 6.0      2412
 10.0     2021
 3.0      1848
 1.0      1537
 9.0      1385
 7.0      1238
 8.0      1159
 2.0       747
 5.0       200
-1.0        30
-3.0         5
Name: G181F104, dtype: int64
 6.0     3249
 3.0     2099
 7.0     1517
 10.0    1437
 1.0     1305
 4.0     1177
 9.0      772
 8.0      646
 2.0      287
 5.0      166
-1.0       23
-3.0        7
Name: G181F108, dtype: int64

In [50]:
college_df['G181F102'].isnull().sum()
# print(college_df['G181F102'].value_counts())

# print(college_df[['G181F102' , 'G181F104']].value_counts())

G181F102_value = []


# 첫번째 휴학 이유
# 군대의 경우(4) -> -=1 진행
# -3 이나 -1의 경우 G181F102 값을 0으로 바꾸기

for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F104'][idx] == 4:
        val -= 1
        G181F102_value.append(val)
    elif college_df['G181F104'][idx] == -3 or college_df['G181F104'][idx] == -1:
        G181F102_value.append(0)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

1.0    21662
0.0    20096
2.0    10531
3.0     1796
4.0      278
5.0       64
6.0       10
7.0        4
8.0        2
Name: G181F102, dtype: int64
G181F102  G181F104
1.0        4.0        12814
2.0        4.0         7652
1.0        6.0         1984
           10.0        1375
           3.0         1241
           1.0         1129
           9.0         1127
3.0        4.0         1094
1.0        8.0          753
           7.0          698
2.0        10.0         484
           3.0          445
           7.0          402
1.0        2.0          365
2.0        1.0          363
           6.0          349
           8.0          297
           2.0          275
           9.0          216
4.0        4.0          159
1.0        5.0          156
3.0        10.0         148
           3.0          119
           7.0          106
           8.0           88
           2.0           88
           6.0           65
           1.0           42
5.0        4.0           38
2.0        5.0           36
3.0        9.0           35
4.0        3.0           28
           7.0           23
           2.0           19
           8.0           18
1.0       -1.0           17
4.0        10.0          14
5.0        3.0           11
2.0       -1.0           10
4.0        6.0            8
3.0        5.0            8
5.0        7.0            7
           6.0            6
6.0        4.0            6
4.0        9.0            6
1.0       -3.0            3
4.0        1.0            3
3.0       -1.0            3
6.0        3.0            2
2.0       -3.0            2
5.0        8.0            1
           9.0            1
6.0        7.0            1
           8.0            1
7.0        3.0            1
           4.0            1
           7.0            1
           8.0            1
8.0        3.0            1
           4.0            1
dtype: int64
0.0    32945
1.0    16480
2.0     3961
3.0      858
4.0      157
5.0       32
6.0        5
7.0        4
8.0        1
Name: G181F102, dtype: int64

In [51]:
# 두번째 휴학 이유
# 군대의 경우(4) -> -=1 진행
# -3(없음) 이나 -1(모름)의 경우 val -=1


G181F102_value = []

for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F108'][idx] == 4:
        val -= 1
        G181F102_value.append(val)
    elif college_df['G181F108'][idx] == -3 or college_df['G181F108'][idx] == -1:
        val -= 1
        G181F102_value.append(val)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

 0.0    32979
 1.0    17275
 2.0     3388
 3.0      624
 4.0      127
 5.0       29
-1.0       12
 6.0        5
 7.0        3
 8.0        1
Name: G181F102, dtype: int64

In [52]:
# 세번째 휴학 이유
# 군대의 경우(4) -> -=1 진행
# -3(없음) 이나 -1(모름)의 경우 val -=1


G181F102_value = []

for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F112'][idx] == 4:
        val -= 1
        G181F102_value.append(val)
    elif college_df['G181F112'][idx] == -3 or college_df['G181F112'][idx] == -1:
        val -= 1
        G181F102_value.append(val)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

 0.0    32980
 1.0    17282
 2.0     3453
 3.0      559
 4.0      120
 5.0       29
-1.0       12
 6.0        4
 7.0        3
 8.0        1
Name: G181F102, dtype: int64

In [53]:
# 네번째 휴학 이유
# 군대의 경우(4) -> -=1 진행
# -3(없음) 이나 -1(모름)의 경우 val -=1


G181F102_value = []

for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F116'][idx] == 4:
        val -= 1
        G181F102_value.append(val)
    elif college_df['G181F116'][idx] == -3 or college_df['G181F116'][idx] == -1:
        val -= 1
        G181F102_value.append(val)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

 0.0    32982
 1.0    17282
 2.0     3454
 3.0      572
 4.0      107
 5.0       26
-1.0       12
 6.0        5
 7.0        2
 8.0        1
Name: G181F102, dtype: int64

In [54]:
# 다섯번째 휴학 이유
# 군대의 경우(4) -> -=1 진행
# -3(없음) 이나 -1(모름)의 경우 val -=1


G181F102_value = []

for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F120'][idx] == 4:
        val -= 1
        G181F102_value.append(val)
    elif college_df['G181F120'][idx] == -3 or college_df['G181F120'][idx] == -1:
        val -= 1
        G181F102_value.append(val)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

 0.0    32982
 1.0    17282
 2.0     3454
 3.0      572
 4.0      111
 5.0       22
-1.0       12
 6.0        5
 7.0        2
 8.0        1
Name: G181F102, dtype: int64

In [55]:
# -1 값은 0으로 대체
college_df['G181F102'] = college_df['G181F102'].replace(-1,0)

print(college_df['G181F102'].value_counts())

0.0    32994
1.0    17282
2.0     3454
3.0      572
4.0      111
5.0       22
6.0        5
7.0        2
8.0        1
Name: G181F102, dtype: int64

In [56]:
# 휴학 횟수 정리
college_df.rename(columns={'G181F102' : '휴학 횟수'} , inplace=True)

college_df.drop(columns=['G181F104' , 'G181F108' , 'G181F112' , 'G181F116' , 'G181F120'] , inplace=True)

college_df.columns

Index(['대학 입학 구분', '진로 선택 및 취업준비 프로그램 참여 횟수', '학자금대출 금액', '휴학 횟수', 'G181G001',
       'G181G014', 'G181G019', 'G181G033', 'G181G038', 'GPA'],
      dtype='object')

# 대학원 재학 확인

In [58]:
# 대학원 경험 확인

print(college_df['G181G001'].value_counts())
print(college_df['G181G001'].isnull().sum())
# 결측값은 없다

2    46088
1     8355
Name: G181G001, dtype: int64
0

In [59]:
print(college_df[['G181G014' , 'G181G019']].value_counts())

# G181G014
# 1: 석사 , 2:박사 , 3:석박사
# 1 : 재학중 , 2: 졸업
# 1 -> 1 : 석사 재학중

college_df['석사/박사 재학여부'] = None
# 1: 석사 재학중 , 2 : 석박사 통합 재학중, 3 : 박사 재학중 , 4: 석사 졸업 , 5: 석박사 통합 졸업 , 0: 경험 없음


print(college_df[['G181G014' , 'G181G019' , 'G181G033' , 'G181G038']].value_counts())


for idx , val in enumerate(college_df['G181G014'].values):
    if val == 1 and college_df['G181G019'][idx] == 1:
        college_df['석사/박사 재학여부'][idx] = 1
    elif val == 1 and college_df['G181G019'][idx] == 2:
        college_df['석사/박사 재학여부'][idx] = 4
    elif val == 3 and college_df['G181G019'][idx] == 1:
        college_df['석사/박사 재학여부'][idx] = 2
    elif val == 3 and college_df['G181G019'][idx] == 2:
        college_df['석사/박사 재학여부'][idx] = 5   
    elif val == 1 and college_df['G181G019'][idx] == 2 and college_df['G181G033'][idx] == 2 and college_df['G181G038'][idx]==1:
        college_df['석사/박사 재학여부'][idx] = 3
    else : 
        college_df['석사/박사 재학여부'][idx] = 0

        
college_df['석사/박사 재학여부'].value_counts()

G181G014  G181G019
1.0       1.0         5046
3.0       1.0          720
1.0       2.0          541
3.0       2.0           27
4.0       1.0           26
2.0       1.0           10
4.0       2.0           10
dtype: int64
G181G014  G181G019  G181G033  G181G038
1.0       2.0       2.0       1.0         36
                    1.0       1.0         26
          1.0       1.0       1.0         22
                    2.0       1.0          8
3.0       2.0       3.0       1.0          6
1.0       2.0       3.0       1.0          5
3.0       2.0       1.0       1.0          3
1.0       1.0       1.0       2.0          1
          2.0       1.0       2.0          1
                    4.0       1.0          1
2.0       1.0       1.0       2.0          1
3.0       1.0       3.0       1.0          1
dtype: int64

0    48109
1     5046
2      720
4      541
5       27
Name: 석사/박사 재학여부, dtype: int64

In [60]:
for idx , val in enumerate(college_df['G181G014'].values):
    if val == 1 and college_df['G181G019'][idx] == 2 and college_df['G181G033'][idx] == 2 and college_df['G181G038'][idx]==1:
        college_df['석사/박사 재학여부'][idx] = 3

college_df['석사/박사 재학여부'].value_counts()

0    48109
1     5046
2      720
4      505
3       36
5       27
Name: 석사/박사 재학여부, dtype: int64

In [61]:
college_df.drop(columns=['G181G001' , 'G181G014' , 'G181G019' , 'G181G033' , 'G181G038'] , inplace=True)

In [62]:
college_df['석사/박사 재학여부'] = college_df['석사/박사 재학여부'].astype(float)

In [63]:
college_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54443 entries, 0 to 54442
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   대학 입학 구분                 54443 non-null  int64
 1   진로 선택 및 취업준비 프로그램 참여 횟수  54443 non-null  int64
 2   학자금대출 금액                 54443 non-null  float64
 3   휴학 횟수                    54443 non-null  float64
 4   GPA                      54443 non-null  float64
 5   석사/박사 재학여부               54443 non-null  float64
dtypes: float64(4), int64(2)
memory usage: 2.5 MB

In [64]:
college_df.describe()

,대학 입학 구분,진로 선택 및 취업준비 프로그램 참여 횟수,학자금대출 금액,휴학 횟수,GPA,석사/박사 재학여부
count,54443.000000,54443.000000,54443.000000,54443.000000,54443.000000,54443.000000
mean,1.051907,2.372114,302.669416,0.486968,80.239896,0.160700
std,0.221842,2.101754,703.226138,0.691113,9.415873,0.535281
min,1.000000,0.000000,-1.000000,0.000000,22.220000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,73.330000,0.000000
50%,1.000000,2.000000,0.000000,0.000000,82.220000,0.000000
75%,1.000000,4.000000,120.000000,1.000000,86.670000,0.000000
max,2.000000,9.000000,18231.000000,8.000000,100.000000,5.000000

In [65]:
for idx , val in enumerate(college_df['학자금대출 금액']):
    if val < 0 :
        college_df['학자금대출 금액'][idx] = 0
        
college_df.describe()

,대학 입학 구분,진로 선택 및 취업준비 프로그램 참여 횟수,학자금대출 금액,휴학 횟수,GPA,석사/박사 재학여부
count,54443.000000,54443.000000,54443.000000,54443.000000,54443.000000,54443.000000
mean,1.051907,2.372114,302.669710,0.486968,80.239896,0.160700
std,0.221842,2.101754,703.226011,0.691113,9.415873,0.535281
min,1.000000,0.000000,0.000000,0.000000,22.220000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,73.330000,0.000000
50%,1.000000,2.000000,0.000000,0.000000,82.220000,0.000000
75%,1.000000,4.000000,120.000000,1.000000,86.670000,0.000000
max,2.000000,9.000000,18231.000000,8.000000,100.000000,5.000000

In [66]:
college_df.to_csv('GP_졸업대학 특성(3years).csv' , index=False , encoding='utf-8-sig')