In [6]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv('../datasets/GP_취업여부 변수 재설정_3개년.csv')
df.head()

      pid  G181A021
0  100013       2.0
1  100018       NaN
2  100019       5.0
3  100034       1.0
4  100036       1.0

In [9]:
df['G181A021'].value_counts()

1.0    31041
2.0     6345
5.0     1088
4.0      598
3.0      507
6.0      112
Name: G181A021, dtype: int64

In [10]:
df.isnull().sum()

pid             0
G181A021    14752
dtype: int64

In [11]:
df['G181A021'] = df['G181A021'].fillna(0)

In [13]:
df['G181A021'].value_counts()

1.0    31041
0.0    14752
2.0     6345
5.0     1088
4.0      598
3.0      507
6.0      112
Name: G181A021, dtype: int64

In [15]:
df['G181A021'].loc[df['G181A021']!=0] = 1

In [17]:
df['G181A021'].value_counts()

1.0    39691
0.0    14752
Name: G181A021, dtype: int64

In [18]:
df.drop(columns=['pid'] , inplace=True)

In [20]:
df.rename(columns={'G181A021':'취업여부'} , inplace=True)

In [22]:
df.to_csv('3개년 종속변수 재설정.csv' , encoding='utf-8-sig' , index=False)