In [5]:
import pandas as pd

df = pd.read_csv('../datasets/GP18__2019_컬럼명수정.csv')

C:\Users\hspar\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (43,335,484,664,733,807,808,818,819,824,852,853,950,961,970,972,973,1216,1236,1250) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
family_df1 = df['G181P026'] # 아버지 학력

family_df2 = df['G181P029'] # 어머니 학력

print(family_df1.isnull().sum())
print(family_df2.isnull().sum())

0
0

In [10]:
# 혼인 여부

family_df3 = df['G181P001'] # 혼인여부

print(family_df3.value_counts())
print(family_df3.isnull().sum())

1    17318
2      793
3       30
4       22
Name: G181P001, dtype: int64
0

In [12]:
# 배우자 최종학력

family_df4 = df['G181P004']

print(family_df4.value_counts())
print(family_df4.isnull().sum())

6.0    404
4.0    170
5.0    148
7.0     51
3.0     17
2.0      3
Name: G181P004, dtype: int64
17370

In [16]:
# 부모님 월평균 소득

family_df5 = df['G181P035']

print(family_df5.value_counts())
print(family_df5.isnull().sum())

 5     3527
 4     3058
 6     2987
 3     2595
 7     1431
 2     1395
 8     1165
-1      810
 9      587
 1      466
 10     142
Name: G181P035, dtype: int64
0

In [18]:
# 부모님의 자산

family_df6 = df['G181P036']

print(family_df6.value_counts())
print(family_df6.isnull().sum())

 3    4563
 4    4324
 2    2598
 5    2404
 1    2079
 6    1199
-1     854
 7     142
Name: G181P036, dtype: int64
0

In [20]:
# 가정에서 경제적 지원을 받는지

family_df7 = df[['G181P041' , 'G181P042']]

family_df7.value_counts()

G181P041  G181P042
1         30.0        999
          50.0        836
          20.0        537
          40.0        418
          100.0       287
                     ...
          58.0          1
          2.0           1
          72.0          1
          95.0          1
          700.0         1
Length: 66, dtype: int64

In [24]:
# 가정에서 받는 경제적 지원 금액

family_df8 = df['G181P042']

print(family_df8.value_counts())
family_df8.describe()

30.0     999
50.0     836
20.0     537
40.0     418
100.0    287
        ...
38.0       1
700.0      1
105.0      1
2.0        1
181.0      1
Name: G181P042, Length: 66, dtype: int64

count    4137.000000
mean       47.355330
std        36.162304
min         1.000000
25%        30.000000
50%        40.000000
75%        50.000000
max       700.000000
Name: G181P042, dtype: float64