In [52]:
import pandas as pd

df = pd.read_csv('../datasets/GP18__2019_컬럼명수정.csv')
df.head()

C:\Users\hspar\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (43,335,484,664,733,807,808,818,819,824,852,853,950,961,970,972,973,1216,1236,1250) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

      pid  본분교  국공사립  학위과정유형  주야간  전공계열  ... G181R023 G181R024 G181R025 G181R026  G181R027     G181WT
0  100013    1     3       3    2     1  ...      100        0        0        0       1.0  33.641815
1  100018    1     3       3    1     1  ...       10        0        0       20       NaN  21.997140
2  100019    1     3       3    1     1  ...       40        0        0       38       3.0  21.997140
3  100034    1     3       3    1     1  ...      100       10        0       30       1.0  35.853258
4  100036    1     3       3    1     1  ...       30        0        0        0       1.0  20.945343

[5 rows x 1270 columns]

In [53]:
# 입학 / 편입 여부 확인
college_df1 = df['G181F010']
print(college_df1.value_counts())
print(college_df1.isnull().sum()) # 결측값은 없다

# -1 값은 1로 변경 필요!!

 1    17253
 2      908
-1        2
Name: G181F010, dtype: int64
0

In [54]:
# F13. 진로선택 및 취업준비 프로그램 1- 진로, 취업 관련 교과목_참여 여부
college_df2 = df['G181F034']

print(college_df2.value_counts())
print(college_df2.isnull().sum()) # 결측값은 없다

2    9961
1    8202
Name: G181F034, dtype: int64
0

In [55]:
# F13. 진로선택 및 취업준비 프로그램 2- 직장체험프로그램(인턴 포함)_참여 여부
college_df3 = df['G181F036']

print(college_df3.value_counts())
print(college_df3.isnull().sum()) # 결측값은 없다

2    13965
1     4198
Name: G181F036, dtype: int64
0

In [56]:
# F13. 진로선택 및 취업준비 프로그램 3- 인적성 검사 등 직업심리검사_참여 여부

college_df4 = df['G181F037']

print(college_df4.value_counts())
print(college_df4.isnull().sum()) # 결측값은 없다

2    10218
1     7945
Name: G181F037, dtype: int64
0

In [57]:
# F13. 진로선택 및 취업준비 프로그램 4- 교내 취업박람회_참여 여부

college_df5 = df['G181F038']

print(college_df5.value_counts())
print(college_df5.isnull().sum()) # 결측값은 없다

2    13427
1     4736
Name: G181F038, dtype: int64
0

In [58]:
# F13. 진로선택 및 취업준비 프로그램 5- 진로 관련 개인 및 집단상담 프로그램_참여 여부

college_df6 = df['G181F039']

print(college_df6.value_counts())
print(college_df6.isnull().sum()) # 결측값은 없다

2    13116
1     5047
Name: G181F039, dtype: int64
0

In [59]:
# F13. 진로선택 및 취업준비 프로그램 6- 면접기술, 이력서 작성 프로그램_참여 여부

college_df7 = df['G181F040']

print(college_df7.value_counts())
print(college_df7.isnull().sum()) # 결측값은 없다

2    12635
1     5528
Name: G181F040, dtype: int64
0

In [60]:
# F13. 진로선택 및 취업준비 프로그램 7- 취업캠프_참여 여부

college_df8 = df['G181F041']

print(college_df8.value_counts())
print(college_df8.isnull().sum()) # 결측값은 없다

2    16313
1     1850
Name: G181F041, dtype: int64
0

In [61]:
# F13. 진로선택 및 취업준비 프로그램 8- 기업채용설명회_참여 여부

college_df9 = df['G181F042']

print(college_df9.value_counts())
print(college_df9.isnull().sum()) # 결측값은 없다

2    13789
1     4374
Name: G181F042, dtype: int64
0

In [62]:
# F13. 진로선택 및 취업준비 프로그램 9- 기타_참여 여부

college_df10 = df['G181F043']

print(college_df10.value_counts())
print(college_df10.isnull().sum()) # 결측값은 없다

2    18127
1       36
Name: G181F043, dtype: int64
0

In [63]:
# G181F073
# G181F074

# 평균 학점 

college_df11 = df[['G181F073' , 'G181F074']]

print(college_df11.value_counts())
print(college_df11.isnull().sum()) # 평균학점 미기재 66건

G181F073  G181F074
3         3.8         2060
          3.5         1818
          4.0         1344
          3.7         1246
          3.9         1231
                      ...
2         1.5            1
          2.2            1
3         1.9            1
          1.7            1
1         1.0            1
Length: 77, dtype: int64
G181F073     0
G181F074    66
dtype: int64

In [64]:
# 학자금 대출 유무
# G181F101

college_df12 = df['G181F086']

print(college_df12.value_counts())
print(college_df12.isnull().sum()) # 결측치 없음

2    13299
1     4864
Name: G181F086, dtype: int64
0

In [65]:
# 학자금 금액

college_df13 = df['G181F089']
print(college_df13.value_counts())

1000.0    564
2000.0    424
300.0     363
500.0     307
800.0     231
         ...
660.0       1
475.0       1
1673.0      1
4350.0      1
5800.0      1
Name: G181F089, Length: 194, dtype: int64

In [66]:
# 학자금 대출 유무에 따른 금액 확인

college_df14 = df[['G181F086','G181F089']]
print(college_df14.value_counts())

G181F086  G181F089
1         1000.0      564
          2000.0      424
          300.0       363
          500.0       307
          800.0       231
                     ...
          610.0         1
          559.0         1
          520.0         1
          516.0         1
          18231.0       1
Length: 194, dtype: int64

In [67]:
# 대학원 진학 유무

college_df15 = df['G181G001']
print(college_df15.value_counts())

print(college_df15.isnull().sum())

2    15361
1     2802
Name: G181G001, dtype: int64
0

In [68]:
# 첫번째로 진학한 대학 구분
# G181G014

# 1 : 석사
# 2 : 박사
# 3 : 석박사
# 4: 기타 -> 제외하기

college_df16 = df['G181G014']

print(college_df16.value_counts())

print(college_df16.isnull().sum())

1.0    1874
3.0     251
4.0      14
2.0       2
Name: G181G014, dtype: int64
16022

In [69]:
# 대학원 진학 여부 -> 구분 확인하기 -> 현재도 다니고 있는지 확인

# G181G019 : 현재 재학중 여부 1: 재학중 , 2: 졸업함

college_df17 = df[['G181G001' , 'G181G014' , 'G181G019']]

print(college_df17.value_counts())
print(college_df17.isnull().sum())

# 1 -> 1 -> 1 : 현재 대학원(석사) 재학중 -> 미취업자에서 제외
# 1 -> 3 -> 1 : 현재 대학원(석박사 통합) 재학중 -> 미취업자에서 제외
#

G181G001  G181G014  G181G019
1         1.0       1.0         1683
          3.0       1.0          244
          1.0       2.0          191
          4.0       1.0            9
          3.0       2.0            7
          4.0       2.0            5
          2.0       1.0            2
dtype: int64
G181G001        0
G181G014    16022
G181G019    15361
dtype: int64

In [70]:
# 두번째 대학원까지 확인

# G181G033 : 두번째 대학원 학위
# 1 : 석사
# 2 : 박사
# 3 : 석박사
# 4: 기타 -> 제외하기

# G181G038 : 현재 재학중 여부 1: 재학중 , 2: 졸업함

college_df18 = df[['G181G033' , 'G181G038']]

print(college_df18.value_counts())
print(college_df18.isnull().sum())

G181G033  G181G038
1.0       1.0         18
2.0       1.0         17
1.0       2.0          3
3.0       1.0          2
dtype: int64
G181G033    18123
G181G038    18114
dtype: int64

In [71]:
# 전체적으로 확인

college_df19 = df[[ 'G181G001' , 'G181G014' , 'G181G019' , 'G181G033' , 'G181G038' ]]

print(college_df19.value_counts())


# 1 -> 1 (석사) -> 2(졸업함) -> 2(박사) -> 1 (재학중)  ==> 박사중 재학중 (미취업자에서 제외)

# 다시 확인

G181G001  G181G014  G181G019  G181G033  G181G038
1         1.0       2.0       2.0       1.0         17
                              1.0       1.0          7
                    1.0       1.0       2.0          1
                    2.0       1.0       2.0          1
                              3.0       1.0          1
          3.0       2.0       1.0       1.0          1
                              3.0       1.0          1
dtype: int64

In [74]:
# 휴학 횟수 및 학기 수 확인

college_df20 = df[['G181F102', 'G181F103' , 'G181F104']]

print(college_df20.value_counts())

G181F102  G181F103  G181F104
1.0       4.0       4.0         3573
2.0       6.0       4.0         1372
1.0       6.0       4.0          563
          2.0       6.0          364
2.0       5.0       4.0          354
                                ...
3.0       4.0       6.0            1
          3.0       7.0            1
                    4.0            1
2.0       14.0      2.0            1
8.0       8.0       3.0            1
Length: 322, dtype: int64

In [84]:
##################
##################################필요 컬럼 추출하기 및 변수 변경 ###############################

college_df = df[['G181F010', 'G181F034', 'G181F036', 'G181F037', 'G181F038' , 'G181F039' , 'G181F040' ,'G181F041' , 'G181F042', 
                 'G181F043' , 'G181F073' , 'G181F074', 'G181F089' , 'G181F101' , 'G181F102' , 'G181F103' , 'G181F104' , 'G181F108' ,
                 'G181F112' , 'G181F116' , 'G181F120' , 'G181G001' , 'G181G014' , 'G181G019' , 'G181G033' , 'G181G038']]

college_df.head()

   G181F010  G181F034  G181F036  G181F037  G181F038  ...  G181G001  G181G014  G181G019  G181G033  G181G038
0         1         1         2         2         2  ...         2       NaN       NaN       NaN       NaN
1         1         1         2         1         1  ...         2       NaN       NaN       NaN       NaN
2         1         1         2         2         2  ...         1       NaN       1.0       NaN       NaN
3         1         2         2         2         2  ...         2       NaN       NaN       NaN       NaN
4         1         2         1         2         1  ...         2       NaN       NaN       NaN       NaN

[5 rows x 26 columns]

In [85]:
print(college_df['G181F010'].value_counts())

college_df.rename(columns={'G181F010' : '대학 입학 구분'} , inplace=True)
college_df.head()

 1    17253
 2      908
-1        2
Name: G181F010, dtype: int64

C:\Users\hspar\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

   대학 입학 구분  G181F034  G181F036  G181F037  G181F038  ...  G181G001  G181G014  G181G019  G181G033  G181G038
0         1         1         2         2         2  ...         2       NaN       NaN       NaN       NaN
1         1         1         2         1         1  ...         2       NaN       NaN       NaN       NaN
2         1         1         2         2         2  ...         1       NaN       1.0       NaN       NaN
3         1         2         2         2         2  ...         2       NaN       NaN       NaN       NaN
4         1         2         1         2         1  ...         2       NaN       NaN       NaN       NaN

[5 rows x 26 columns]

In [91]:
college_df['대학 입학 구분'] = college_df['대학 입학 구분'].replace(-1, 1)
college_df['대학 입학 구분'].value_counts()

<ipython-input-91-c02859920714>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['대학 입학 구분'] = college_df['대학 입학 구분'].replace(-1, 1)

1    17255
2      908
Name: 대학 입학 구분, dtype: int64

In [108]:
# 경험 없음(2)를 0 값으로 변경해서 전체적으로 다 합하여 경험횟수 출력



college_df['G181F034'].isnull().sum()
college_df['G181F034'].value_counts()

college_df['G181F034'] = college_df['G181F034'].replace(2, 0)

print(college_df['G181F034'].value_counts())

print(college_df['G181F034'].isnull().sum())

0    9961
1    8202
Name: G181F034, dtype: int64
0

<ipython-input-108-e1ed43dcdca5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F034'] = college_df['G181F034'].replace(2, 0)

In [109]:
print(college_df['G181F036'].isnull().sum())
print(college_df['G181F036'].value_counts())

college_df['G181F036'] = college_df['G181F036'].replace(2, 0)


print(college_df['G181F036'].isnull().sum())
college_df['G181F036'].value_counts()

0
0    13965
1     4198
Name: G181F036, dtype: int64
0

<ipython-input-109-19dfac4897e8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F036'] = college_df['G181F036'].replace(2, 0)

0    13965
1     4198
Name: G181F036, dtype: int64

In [110]:
print(college_df['G181F037'].isnull().sum())
print(college_df['G181F037'].value_counts())

college_df['G181F037'] = college_df['G181F037'].replace(2, 0)


print(college_df['G181F037'].isnull().sum())
college_df['G181F037'].value_counts()

0
0    10218
1     7945
Name: G181F037, dtype: int64
0

<ipython-input-110-596978a5125f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F037'] = college_df['G181F037'].replace(2, 0)

0    10218
1     7945
Name: G181F037, dtype: int64

In [111]:
print(college_df['G181F038'].isnull().sum())
print(college_df['G181F038'].value_counts())

college_df['G181F038'] = college_df['G181F038'].replace(2, 0)


print(college_df['G181F038'].isnull().sum())
college_df['G181F038'].value_counts()

0
0    13427
1     4736
Name: G181F038, dtype: int64
0

<ipython-input-111-f5a531a3cdfb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F038'] = college_df['G181F038'].replace(2, 0)

0    13427
1     4736
Name: G181F038, dtype: int64

In [112]:
print(college_df['G181F039'].isnull().sum())
print(college_df['G181F039'].value_counts())

college_df['G181F039'] = college_df['G181F039'].replace(2, 0)


print(college_df['G181F039'].isnull().sum())
college_df['G181F039'].value_counts()

0
0    13116
1     5047
Name: G181F039, dtype: int64
0

<ipython-input-112-17e9b3a9e4ec>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F039'] = college_df['G181F039'].replace(2, 0)

0    13116
1     5047
Name: G181F039, dtype: int64

In [113]:
print(college_df['G181F040'].isnull().sum())
print(college_df['G181F040'].value_counts())

college_df['G181F040'] = college_df['G181F040'].replace(2, 0)


print(college_df['G181F040'].isnull().sum())
college_df['G181F040'].value_counts()

0
0    12635
1     5528
Name: G181F040, dtype: int64
0

<ipython-input-113-53fc215a494f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F040'] = college_df['G181F040'].replace(2, 0)

0    12635
1     5528
Name: G181F040, dtype: int64

In [114]:
print(college_df['G181F041'].isnull().sum())
print(college_df['G181F041'].value_counts())

college_df['G181F041'] = college_df['G181F041'].replace(2, 0)


print(college_df['G181F041'].isnull().sum())
college_df['G181F041'].value_counts()

0
0    16313
1     1850
Name: G181F041, dtype: int64
0

<ipython-input-114-775e154886fb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F041'] = college_df['G181F041'].replace(2, 0)

0    16313
1     1850
Name: G181F041, dtype: int64

In [115]:
print(college_df['G181F042'].isnull().sum())
print(college_df['G181F042'].value_counts())

college_df['G181F042'] = college_df['G181F042'].replace(2, 0)


print(college_df['G181F042'].isnull().sum())
college_df['G181F042'].value_counts()

0
0    13789
1     4374
Name: G181F042, dtype: int64
0

<ipython-input-115-c747eea81e14>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F042'] = college_df['G181F042'].replace(2, 0)

0    13789
1     4374
Name: G181F042, dtype: int64

In [116]:
print(college_df['G181F043'].isnull().sum())
print(college_df['G181F043'].value_counts())

college_df['G181F043'] = college_df['G181F043'].replace(2, 0)


print(college_df['G181F043'].isnull().sum())
college_df['G181F043'].value_counts()

0
0    18127
1       36
Name: G181F043, dtype: int64
0

<ipython-input-116-7061296a9ab7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F043'] = college_df['G181F043'].replace(2, 0)

0    18127
1       36
Name: G181F043, dtype: int64

In [127]:
college_df['진로 선택 및 취업준비 프로그램 참여 횟수'] = None
college_df['진로 선택 및 취업준비 프로그램 참여 횟수'] = (college_df['G181F034'].values+college_df['G181F036'].values+
college_df['G181F037'].values+college_df['G181F038'].values+college_df['G181F039'].values+college_df['G181F040'].values
+college_df['G181F041'].values+college_df['G181F042'].values+college_df['G181F043'].values)

<ipython-input-127-49e2b883d95f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['진로 선택 및 취업준비 프로그램 참여 횟수'] = None
<ipython-input-127-49e2b883d95f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['진로 선택 및 취업준비 프로그램 참여 횟수'] = (college_df['G181F034'].values+college_df['G181F036'].values+

In [131]:
college_df['진로 선택 및 취업준비 프로그램 참여 횟수']

college_df.drop(columns=["G181F034", "G181F036" , "G181F037" , "G181F038" , "G181F039" , "G181F040" , "G181F041" , "G181F042" ,
                        "G181F043"] , inplace=True)

college_df.columns

KeyError: "['G181F034' 'G181F036' 'G181F037' 'G181F038' 'G181F039' 'G181F040'\n 'G181F041' 'G181F042' 'G181F043'] not found in axis"

In [133]:
college_df.columns

Index(['대학 입학 구분', 'G181F073', 'G181F074', 'G181F089', 'G181F101', 'G181F102',
       'G181F103', 'G181F104', 'G181F108', 'G181F112', 'G181F116', 'G181F120',
       'G181G001', 'G181G014', 'G181G019', 'G181G033', 'G181G038',
       '진로 선택 및 취업준비 프로그램 참여 횟수'],
      dtype='object')

In [137]:
college_df[['G181F073' , 'G181F074']].value_counts()

college_df['진로 선택 및 취업준비 프로그램 참여 횟수'].value_counts()
college_df['진로 선택 및 취업준비 프로그램 참여 횟수'].isnull().sum()

0

In [141]:
college_df['GPA'] = None

college_df['G181F073'].isnull().sum()
college_df['G181F074'].isnull().sum()

# 평균 학점 모른다고 대답한 사람(-1) 에 대해서만 결측값 존재 -> 100점 환산 후 평균값으로 대체


for i in range(len(college_df['GPA'])):
    if college_df['G181F073'][i] == 1:
        college_df['GPA'] = (college_df['G181F074'] / 4.0 * 100)
    elif college_df['G181F073'][i] == 2:
        college_df['GPA'] = (college_df['G181F074'] / 4.3 * 100)
    elif college_df['G181F073'][i] == 3:
        college_df['GPA'] = (college_df['G181F074'] / 4.5 * 100)

<ipython-input-141-5a9c77f10454>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['GPA'] = None
<ipython-input-141-5a9c77f10454>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['GPA'] = (college_df['G181F074'] / 4.5 * 100)
<ipython-input-141-5a9c77f10454>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['GPA'] = (college_df['G181F074'] / 4.0 * 100)
<ipython-input-141-5a9c77f10454>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['GPA'] = (college_df['G181F074'] / 4.3 * 100)

In [153]:
college_df['GPA'] = college_df['GPA'].round(2)

college_df['GPA'].describe()
mean_GPA = (college_df['GPA']).mean()

print(mean_GPA)
college_df['GPA'] = college_df['GPA'].fillna(mean_GPA)

80.08269768469746

<ipython-input-153-229b918c4012>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['GPA'] = college_df['GPA'].round(2)
<ipython-input-153-229b918c4012>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['GPA'] = college_df['GPA'].fillna(mean_GPA)

0

In [155]:
college_df['GPA'] = college_df['GPA'].round(2)

<ipython-input-155-bec1ba2853de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['GPA'] = college_df['GPA'].round(2)

In [156]:
college_df.drop(columns=["G181F073", "G181F074"] , inplace=True)
college_df.columns

C:\Users\hspar\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Index(['대학 입학 구분', 'G181F089', 'G181F101', 'G181F102', 'G181F103', 'G181F104',
       'G181F108', 'G181F112', 'G181F116', 'G181F120', 'G181G001', 'G181G014',
       'G181G019', 'G181G033', 'G181G038', '진로 선택 및 취업준비 프로그램 참여 횟수', 'GPA'],
      dtype='object')

In [167]:
# college_df['G181F089'] = college_df['G181F089'].fillna(0)


college_df.rename(columns={'학자금 대출금액' : '학자금대출 금액'} , inplace=True)
college_df['학자금대출 금액']

C:\Users\hspar\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
          ...
18158     950.0
18159       0.0
18160    3000.0
18161       0.0
18162       0.0
Name: 학자금대출 금액, Length: 18163, dtype: float64

In [163]:
# 휴학 학기 수

college_df['G181F103'].value_counts()
# college_df['G181F103'].isnull().sum()

4.0     4098
6.0     2351
2.0     2007
5.0      716
1.0      715
8.0      612
3.0      348
7.0      309
10.0     188
9.0      124
12.0      64
11.0      47
14.0      19
13.0      12
15.0      11
16.0       7
22.0       3
18.0       2
17.0       2
26.0       1
20.0       1
24.0       1
21.0       1
25.0       1
19.0       1
39.0       1
Name: G181F103, dtype: int64

In [193]:
# 휴학 경험

print(college_df['G181F102'].value_counts()) # 총 휴학 횟수

print(college_df['G181F104'].value_counts())

print(college_df['G181F108'].value_counts())

# 우선 휴학 횟수 결측값은 0으로 대체
college_df['G181F102'].isnull().sum()
college_df['G181F102'] = college_df['G181F102'].fillna(0)

 0.0    8970
-1.0    4520
 1.0    3299
 2.0    1054
 3.0     266
 4.0      42
 5.0       8
 6.0       3
 8.0       1
Name: G181F102, dtype: int64
 4.0     7417
 6.0      778
 10.0     742
 3.0      635
 9.0      486
 1.0      458
 8.0      412
 7.0      382
 2.0      274
 5.0       47
-1.0       10
-3.0        1
Name: G181F104, dtype: int64
 6.0     1050
 3.0      736
 10.0     473
 7.0      453
 4.0      438
 1.0      407
 9.0      259
 8.0      218
 2.0       96
 5.0       54
-1.0        8
-3.0        2
Name: G181F108, dtype: int64

<ipython-input-193-31face6280c6>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F102'] = college_df['G181F102'].fillna(0)

In [195]:
college_df['G181F102'].isnull().sum()
print(college_df['G181F102'].value_counts())

college_df[['G181F102' , 'G181F104']].value_counts()

G181F102_value = []



for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F104'][idx] == 4:
        val += 1
        G181F102_value.append(val)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

0.0    11041
1.0     5377
2.0     1369
3.0      304
4.0       57
5.0       11
6.0        3
8.0        1
Name: G181F102, dtype: int64
1.0    7448
0.0    6521
2.0    3447
3.0     619
4.0      95
5.0      26
6.0       6
8.0       1
Name: G181F102, dtype: int64

<ipython-input-195-536e9f3f0266>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F102'] = G181F102_value

In [197]:
print(college_df['G181F102'].value_counts())

1.0    7448
0.0    6521
2.0    3447
3.0     619
4.0      95
5.0      26
6.0       6
8.0       1
Name: G181F102, dtype: int64

In [198]:
# 첫 번째 휴학 경험이 군대 경험이면 휴학 횟수 -1

G181F102_value = []



for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F104'][idx] == 4:
        val -= 1
        G181F102_value.append(val)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

0.0    11041
1.0     5377
2.0     1369
3.0      304
4.0       57
5.0       11
6.0        3
8.0        1
Name: G181F102, dtype: int64

<ipython-input-198-729899f4ee23>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F102'] = G181F102_value

In [199]:
# 두 번째 휴학 경험이 군대 경험이면 휴학 횟수 -1

G181F102_value = []



for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F108'][idx] == 4:
        val -= 1
        G181F102_value.append(val)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

0.0    11051
1.0     5679
2.0     1161
3.0      211
4.0       47
5.0       10
6.0        3
8.0        1
Name: G181F102, dtype: int64

<ipython-input-199-e1b720b07aea>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F102'] = G181F102_value

In [200]:
# 세 번째 휴학 경험이 군대 경험이면 휴학 횟수 -1

G181F102_value = []



for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F112'][idx] == 4:
        val -= 1
        G181F102_value.append(val)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

0.0    11052
1.0     5679
2.0     1191
3.0      184
4.0       43
5.0       10
6.0        3
8.0        1
Name: G181F102, dtype: int64

<ipython-input-200-b5ed645446d0>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F102'] = G181F102_value

In [201]:
# 네 번째 휴학 경험이 군대 경험이면 휴학 횟수 -1

G181F102_value = []



for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F116'][idx] == 4:
        val -= 1
        G181F102_value.append(val)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

0.0    11052
1.0     5681
2.0     1189
3.0      188
4.0       39
5.0       10
6.0        3
8.0        1
Name: G181F102, dtype: int64

<ipython-input-201-f31e650999e3>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F102'] = G181F102_value

In [202]:
# 다섯 번째 휴학 경험이 군대 경험이면 휴학 횟수 -1

G181F102_value = []



for idx , val in enumerate(college_df['G181F102'].values):
    if college_df['G181F120'][idx] == 4:
        val -= 1
        G181F102_value.append(val)
    else :
        G181F102_value.append(val)

# print(G181F102_value)
college_df['G181F102'] = G181F102_value

print(college_df['G181F102'].value_counts())

0.0    11052
1.0     5681
2.0     1189
3.0      188
4.0       39
5.0       10
6.0        3
8.0        1
Name: G181F102, dtype: int64

<ipython-input-202-8ca20d45c426>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['G181F102'] = G181F102_value

In [203]:
# 휴학 횟수 정리
college_df.rename(columns={'G181F102' : '휴학 횟수'} , inplace=True)

college_df.drop(columns=['G181F104' , 'G181F108' , 'G181F112' , 'G181F116' , 'G181F120'] , inplace=True)

college_df.columns

C:\Users\hspar\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\hspar\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Index(['대학 입학 구분', '학자금대출 금액', 'G181F101', '휴학 횟수', 'G181F103', 'G181G001',
       'G181G014', 'G181G019', 'G181G033', 'G181G038',
       '진로 선택 및 취업준비 프로그램 참여 횟수', 'GPA'],
      dtype='object')

In [204]:
college_df.drop(columns=['G181F101' , 'G181F103'] , inplace=True)

# 휴학 경험 유무 / 휴학 학기 삭제

college_df.columns

C:\Users\hspar\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Index(['대학 입학 구분', '학자금대출 금액', '휴학 횟수', 'G181G001', 'G181G014', 'G181G019',
       'G181G033', 'G181G038', '진로 선택 및 취업준비 프로그램 참여 횟수', 'GPA'],
      dtype='object')

In [224]:
# 대학원 경험 확인

print(college_df['G181G001'].value_counts())
print(college_df['G181G001'].isnull().sum())
# 결측값은 없다

2    15361
1     2802
Name: G181G001, dtype: int64
0

In [226]:
college_df['G181G014'].value_counts()

0.0    16022
1.0     1874
3.0      251
4.0       14
2.0        2
Name: G181G014, dtype: int64

In [230]:
print(college_df[['G181G014' , 'G181G019']].value_counts())

# G181G014
# 1: 석사 , 2:박사 , 3:석박사
# 1 : 재학중 , 2: 졸업
# 1 -> 1 : 석사 재학중

college_df['석사/박사 재학여부'] = None
# 1: 석사 재학중 , 2 : 석박사 통합 재학중, 3 : 박사 재학중 , 4: 석사 졸업 , 5: 석박사 통합 졸업 , 0: 경험 없음


print(college_df[['G181G014' , 'G181G019' , 'G181G033' , 'G181G038']].value_counts())


for idx , val in enumerate(college_df['G181G014'].values):
    if val == 1 and college_df['G181G019'][idx] == 1:
        college_df['석사/박사 재학여부'][idx] = 1
    elif val == 1 and college_df['G181G019'][idx] == 2:
        college_df['석사/박사 재학여부'][idx] = 4
    elif val == 3 and college_df['G181G019'][idx] == 1:
        college_df['석사/박사 재학여부'][idx] = 2
    elif val == 3 and college_df['G181G019'][idx] == 2:
        college_df['석사/박사 재학여부'][idx] = 5   
    elif val == 1 and college_df['G181G019'][idx] == 2 and college_df['G181G033'][idx] == 2 and college_df['G181G038'][idx]==1:
        college_df['석사/박사 재학여부'][idx] = 3
    else : 
        college_df['석사/박사 재학여부'][idx] = 0

        
college_df['석사/박사 재학여부'].value_counts()

G181G014  G181G019
1.0       1.0         1683
0.0       1.0          513
3.0       1.0          244
1.0       2.0          191
0.0       2.0          148
4.0       1.0            9
3.0       2.0            7
4.0       2.0            5
2.0       1.0            2
dtype: int64
G181G014  G181G019  G181G033  G181G038
1.0       2.0       2.0       1.0         17
0.0       2.0       1.0       1.0         10
1.0       2.0       1.0       1.0          7
0.0       2.0       1.0       2.0          1
1.0       1.0       1.0       2.0          1
          2.0       1.0       2.0          1
                    3.0       1.0          1
3.0       2.0       1.0       1.0          1
                    3.0       1.0          1
dtype: int64

<ipython-input-230-11ac56904475>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['석사/박사 재학여부'] = None
<ipython-input-230-11ac56904475>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['석사/박사 재학여부'][idx] = 0
<ipython-input-230-11ac56904475>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['석사/박사 재학여부'][idx] = 1
<ipython-input-230-11ac56904475>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['석사/박사 재학여부'][idx] = 4
<ipython-input-230-11ac56904475>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['석사/박사 재학여부'][idx] = 2
<ipython-input-230-11ac56904475>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['석사/박사 재학여부'][idx] = 5

0    16038
1     1683
2      244
4      191
5        7
Name: 석사/박사 재학여부, dtype: int64

In [232]:
for idx , val in enumerate(college_df['G181G014'].values):
    if val == 1 and college_df['G181G019'][idx] == 2 and college_df['G181G033'][idx] == 2 and college_df['G181G038'][idx]==1:
        college_df['석사/박사 재학여부'][idx] = 3

college_df['석사/박사 재학여부'].value_counts()

<ipython-input-232-3a96efbe99a3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['석사/박사 재학여부'][idx] = 3

0    16038
1     1683
2      244
4      174
3       17
5        7
Name: 석사/박사 재학여부, dtype: int64

In [234]:
college_df.drop(columns=['G181G001' , 'G181G014' , 'G181G019' , 'G181G033' , 'G181G038'] , inplace=True)

C:\Users\hspar\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [238]:
college_df.columns

Index(['대학 입학 구분', '학자금대출 금액', '휴학 횟수', '진로 선택 및 취업준비 프로그램 참여 횟수', 'GPA',
       '석사/박사 재학여부'],
      dtype='object')

In [241]:
college_df['석사/박사 재학여부'] = college_df['석사/박사 재학여부'].astype(float)

<ipython-input-241-b422ae372a65>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df['석사/박사 재학여부'] = college_df['석사/박사 재학여부'].astype(float)

In [242]:
college_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18163 entries, 0 to 18162
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   대학 입학 구분                 18163 non-null  int64
 1   학자금대출 금액                 18163 non-null  float64
 2   휴학 횟수                    18163 non-null  float64
 3   진로 선택 및 취업준비 프로그램 참여 횟수  18163 non-null  int64
 4   GPA                      18163 non-null  float64
 5   석사/박사 재학여부               18163 non-null  float64
dtypes: float64(4), int64(2)
memory usage: 851.5 KB

In [244]:
college_df.describe()

           대학 입학 구분      학자금대출 금액         휴학 횟수  진로 선택 및 취업준비 프로그램 참여 횟수           GPA    석사/박사 재학여부
count  18163.000000  18163.000000  18163.000000             18163.000000  18163.000000  18163.000000
mean       1.049992    285.103342      0.487530                 2.307769     80.082688      0.162583
std        0.217934    682.622865      0.698368                 2.085967      9.620440      0.539738
min        1.000000     -1.000000      0.000000                 0.000000     22.220000      0.000000
25%        1.000000      0.000000      0.000000                 0.000000     73.330000      0.000000
50%        1.000000      0.000000      0.000000                 2.000000     82.220000      0.000000
75%        1.000000    150.000000      1.000000                 4.000000     86.670000      0.000000
max        2.000000  18231.000000      8.000000                 9.000000    100.000000      5.000000

In [248]:
for idx , val in enumerate(college_df['학자금대출 금액']):
    if val < 0 :
        college_df['학자금대출 금액'][idx] = 0
        
college_df.describe()

           대학 입학 구분      학자금대출 금액         휴학 횟수  진로 선택 및 취업준비 프로그램 참여 횟수           GPA    석사/박사 재학여부
count  18163.000000  18163.000000  18163.000000             18163.000000  18163.000000  18163.000000
mean       1.049992    285.103727      0.487530                 2.307769     80.082688      0.162583
std        0.217934    682.622704      0.698368                 2.085967      9.620440      0.539738
min        1.000000      0.000000      0.000000                 0.000000     22.220000      0.000000
25%        1.000000      0.000000      0.000000                 0.000000     73.330000      0.000000
50%        1.000000      0.000000      0.000000                 2.000000     82.220000      0.000000
75%        1.000000    150.000000      1.000000                 4.000000     86.670000      0.000000
max        2.000000  18231.000000      8.000000                 9.000000    100.000000      5.000000

In [251]:
college_df.to_csv('졸업대학 특성.csv' , index=False , encoding='utf-8-sig')