In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('GP_통합(3years)_ver4_취업예측용.csv')

In [3]:
df1 = df[['구직기간' , '구직기간(주)']]
df1.head()

   구직기간  구직기간(주)
0     0        0
1     0        0
2     0        0
3     0       13
4     0        0

In [4]:
df1.value_counts()

구직기간  구직기간(주)
0     0          24340
      4           2769
      26          2235
      1           2139
      13          1889
                 ...
      263            1
      351            1
      520            1
57    0              1
291   0              1
Length: 267, dtype: int64